@import "tailwindcss";

@theme {
  /* Color Variables */
  --color-primary: #333;
  --color-secondary: #666666;
  --color-accent: ;
  --color-background: #FCF8F6;
  --color-background-light: #F2EEEC;
  --color-white: #FFFFFF;
  --color-black: #000000;

  /* Shadow Variables */
  --shadow-container: 0 0 0 1px rgba(31, 34, 37, 0.09), 0 24px 48px 0 rgba(0, 0, 0, 0.04), 0 4px 16px 0 rgba(0, 0, 0, 0.02);
}
